/*=====ROOT=====*/
:root {
}
/*=====RESET=====*/
* {
    margin: 0;
    padding: 0;
    font: 400 0.9rem sans-serif;
}

body {
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(41, 34, 34);
}
/*=====MAIN=====*/
img {
    height: 32px;
    width: 32px;
}

.hiden {
    display: none;
}
